<div id="giscus_thread"></div>
<script src="https://giscus.app/client.js"
        data-repo="kimohy/kimohy.github.io"
        data-repo-id="R_kgDOK-V0MA"
        data-category="comments"
        data-category-id="DIC_kwDOK-V0MM4CrhU4"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="noborder_gray"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>  
